body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f0f8ff;
    font-size: 18px;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

#about-us {
    padding: 50px 0;
}

#about-us .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

#about-us h2 {
    font-size: 36px; 
    margin-bottom: 20px; 
    text-align: center; 
    color: #000;
}

#about-us .about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 30px;
    background-color: transparent; 
    box-shadow: none;
    text-align: justify;
}

#about-us .about-content .logo {
    width: 200px;
    height: auto;

}

#about-us p {
    font-size: 20px;
    margin-bottom: 0;
}

.objective {
    text-align: center; 
    margin: 20px 0;
}

.objective-img {
    width: 100%; 
    height: auto; 
    max-width: 900px;
}

.target {
    text-align: center; 
    margin: 20px 0;
}

.target-img {
    width: 100%; 
    height: auto; 
    max-width: 900px;
}
#about-us .team-members {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
    padding: 20px;
}

#about-us .team-member {
    background-color: #fff;
    border-radius: 8px;
    padding: 30px; /* Meningkatkan padding */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: calc(33.33% - 20px); 
    max-width: 350px;
    text-align: center;
    transition: transform 0.3s ease;
}

#about-us .team-member.project-leader {
    transform: translateY(-30px); 
    background-color: #f0f8ff; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
}

#about-us .team-member img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
}

#about-us .team-member h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

#about-us .team-member p {
    font-size: 18px;
    color: #666;
}

#about-us .team-member:hover {
    transform: translateY(-10px);
}

#about-us .team-member.project-leader:hover {
    transform: translateY(-40px);
}

@media (max-width: 768px) {
    #about-us .team-members {
        flex-direction: column;
        align-items: center;
    }

    #about-us .team-member {
        width: 100%;
        max-width: 250px;
        margin-bottom: 20px;
    }

    #about-us .team-member.project-leader {
        transform: none;
        order: -1; 
    }
}

#contct-us {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#contact-us h2 {
    text-align: center;
    color: #000;
    margin-bottom: 20px;
}

.contact-box {
    display: flex;
    align-items: center;
    border-radius: 8px; 
    padding: 15px; 
    margin: 20px 0; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-image {
    width: 150px;
    height: auto;
    margin-right: 20px;
}

.contact-info {
    margin: 10px;
}

.contact-info p {
    margin: 10px 0;
}

.contact-info a {
    color: #00f; 
    text-decoration: none; 
}

.contact-info a:hover {
    text-decoration: underline;
}

#contact-orgs {
    background-color: #f9f9f9; 
    padding: 20px; 
    border-radius: 8px;
    margin: 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#contact-orgs h2 {
    text-align: center; 
    color: #000; 
    margin-bottom: 20px; 
}

.org-card {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.org-logo {
    width: 160px; 
    height: auto; 
    margin-right: 20px;
}

.org-info h3 {
    margin: 0; 
    color: #000 ; 
}

.org-info ul {
    list-style: none;
    padding: 0; 
    margin: 0;
}

.org-info li {
    margin-bottom: 10px; 
}

.org-info a {
    color: #00f;
    text-decoration: none;
}

.org-info a:hover {
    text-decoration: underline; /* Garis bawah pada pautan apabila hover */
}
@media (max-width:768px) {
    .org-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .org-card {
        width: 100%;
    }
}

#bank-contacts {
    background-color: #f9f9f9; 
    padding: 20px; 
    border-radius: 8px;
    margin: 20px; 
}

#bank-contacts h2 {
    text-align: center; 
    color: #000; 
    margin-bottom: 20px; 
}

.bank-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bank-logo {
    width: 100%;
    max-width: 360px;
    height: auto; 
    margin: 10px; 
}

.bank-list {
    background-color: #fff; 
    text-align: center;
    border: 1px solid #ddd; 
    border-radius: 5px; 
    padding: 20px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    margin: 15px 0; 
    transition: box-shadow 0.3s; 
}

.bank-list a {
    text-decoration: none;
    color: inherit;
}
.bank-list:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bank-list a:hover {
    color: #007bff;
}
.bank-list h3 {
    color: #000;
    margin: 0; 
}

.bank-list p {
    margin: 5px 0; 
    color: #000; 
}

@media (max-width: 768px){
    .bank-logo {
        max-width: 250px;
    }
    .bank-list {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px){
    .bank-logo {
        max-width: 150px;
    }
    .bank-list {
        width: 100%;
    }
}

.form-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

#JotFormIFrame-24299282362468 {
    width: 100%;
    max-width: 500px;
    height: 539px;
    border: none;
}

.organization {
    width: 50%;
    height: auto;
    transition: transform 0.3s ease;
    margin: 0 15px;
}

.text-center{
    text-align: center;
    margin-top: 20px;
}

.image-cointainer {
    display: flex;
    justify-items: space-around;
    align-items: center;
    flex-wrap: nowrap;
    padding: 20px;
}

.organization:hover {
    transform: scale(1.05);
}

a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
    transition: background-color 0.3s, transform 0.2s;
}